[
  RawHostile(
        name: "Kabold",
        vision_range: 8,
        ai: Hostile,
        // Or you can set just the stats that are different than default
        stats: RawStats(
            max_hp: Some(120),
            movement_cost: Some(80),
            unarmed_damage: Some((5, 15))
        ),
        glyph: RawGlyph(
          char: 'k',
          fg: (255, 255, 255),
          bg: None,
          order: Item
        ),
    )
]
// [
//     RawHostile(
//         name: "Red Enemy",
//         vision_range: 8,
//         ai: Hostile,
//         // You can set each stat manually
//         stats: RawStats(
//             max_hp: Some(100),
//             base_armor: Some(0),
//             magic_resistance: Some(0),
//             physical_resistance: Some(0),
//             movement_cost: Some(100),
//             unarmed_damage: Some((10, 25)),
//             unarmed_attack_cost: Some(100),
//             chance_to_hit: Some(0.75),
//             chance_to_evade: Some(0.10),
//             chance_to_crit: Some(0.05),
//             crit_dmg_modifier: Some(1.5)
//         ),
//     ),
    // RawHostile(
    //     name: "Blue Enemy",
    //     vision_range: 8,
    //     ai: Hostile,
    //     // Or you can set just the stats that are different than default
    //     stats: RawStats(
    //         max_hp: Some(120),
    //         movement_cost: Some(80),
    //         unarmed_damage: Some((5, 15))
    //     ),
    // )
// ]
